<section class="webinfo-detail">
  <a href="<%=webinfo_item['website_id'] %>">
    <p class="webinfo-card-type"><%= webinfo_item['website_url']%></p>
  </a>

  <div class="username-pswd-info">
    <p class="username-pswd-info-username"><%= webinfo_item['username']%></p>
    <input readonly type="password" class="username-pswd-info-password" id="username-pswd-info-password" value="<%=webinfo_item['password']%>">
    <input type="checkbox" onclick= "showPassword()" > Show Password</button>
    <button type="button" onclick= "copyButton()" > Copy Password</button>
  </div>

  <div class="actions">
    <form method="post" action="/edit/<%=webinfo_item['website_password_id']%>">
      <input name="newpassword" type="text" placeholder="Submit Password changes here"/>
      <input type="hidden" name="website_id" value="<%=webinfo_item['website_id']%>">
      <button class="edit-btn">Edit</button>
    </form>

    <form action="/delete/<%=webinfo_item['website_password_id']%>" method="post">
      <input type="hidden" name="website_id" value="<%=webinfo_item['website_id']%>">
        <button class="delete-btn">Delete</button>
    </form>

  </div>
</section>
<hr />
