<a href="/main/<%= webtype_item['website_type'] %>" class="webtype-card-a">
  <section class="webtype-card">
    <div class="webtype-card-info">
      <p class="webtype-card-type"><%= webtype_item['website_type']%></p>
      <div class="webtype-card-count-box">
        <p class="webtype-card-count"><%= webtype_item['count']%></p>
      </div>
    </div>

    <div>
      <img
        class="webtype-card-img"
        src="/images/<%= webtype_item['website_type'] %>.jpg"
        alt="<%= webtype_item['website_type'] %> image"
      />
    </div>
  </section>
  <hr />
</a>
