<%- include('./partials/_head') %> 
  <body>
    <%- include('./partials/_header') %> 
    <main>
    <section class="web-categories">
        <article>

          <a href="/org">
              <div>
                <h2 class="webtype-card-type"><%=orgResult.orgName %> </h2>
              </div>
            <hr />
          </a> 

            <% if(!locals.webtype_arr){%>
              <p>create some</p>
            <% }else{ %>  
            <% for(const key of webtype_arr) { %> 
              <%- include('./partials/_webtype-card',{webtype_item:key})  %> 
            <% } }%> 
            
        </article>
    </section>
    </main>
    <%- include('./partials/_footer') %> 
  </body>
</html>
