<%- include('./partials/_head') %> 
  <body>
    <%- include('./partials/_header') %> 
    <main>
    <section class="web-categories">
        <article>

          <a href="/org">
              <div>
                <h2 class="webtype-card-type"><%=orgResult.orgName %> </h2>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 wiggle" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
              </svg>
          </a> 
            <hr />
            <% if(!locals.webtype_arr){%>
              <p>create some</p>
            <% }else{ %>  
            <% for(const key of webtype_arr) { %> 
              <%- include('./partials/_webtype-card',{webtype_item:key})  %> 
            <% } }%> 
            
        </article>
    </section>
    </main>
    <%- include('./partials/_footer') %> 
  </body>
</html>
