<%- include('./partials/_head',{title:"Urls list"}) %>
  <body>
    <%- include('./partials/_header') %> 
    <main>
    <section class="web-urls">
      <h2><%=web_type%></h2>
        <article>
            <% if(!locals.webURL_arr){%>
              <p>create some</p>
            <% }else{ %>
            <% for(const key of webURL_arr) { %> 
              <%- include('./partials/_webURL_card',{webURL_item:key})  %> 
            <% } }%> 
            
        </article>
    </section>
    </main>
    <%- include('./partials/_footer') %> 
  </body>
</html>
