<%- include('./partials/_head',{title:"Login"}) %>
  <body>
    <%- include('./partials/_header') %> 
    <main id="main-login">
        
        <form action="/login" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%= locals.email %>">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <% if(locals.warning) {%> 
              <hr>
              <p class="err-msg"><%=warning%></p>
            <% } %> 
            <hr>
            <button>Login</button>
        </form>
    </main>
    <%- include('./partials/_footer') %> 
  </body>
</html>
